.dotted {
  box-sizing: border-box;
  border: 1px solid #d32f2f;
}

.navy-blue {
  background: #132257;
}

.margin-bottom {
  margin-bottom: 20px;
}


.spurs {
  background: rgb(255, 248, 158);
}

.competitionName {
  border-bottom: 1px dotted white;
}

.height-150 {
  height: 150px;
}

.responsive-crest {
  height: 70px;
  max-height: 100%;
  max-width: 100%;
}

.teamInfoWrap {
  margin: 20px auto;
}

.matchResult {
  border-radius: 50%;
  background: #ffeb3b ;
  margin: 4px;
}

.menang {
  background: #2e7d32;
  color: white;
}

.kalah {
  background: #d32f2f ;
  color: white;
}

.seri {
  background: #c2c2c2;
}

.redText {
  color: #d32f2f ;
}
