.dotted {
  box-sizing: border-box;
  border: 1px dotted red;
}

.navy-blue {
  background: #132257;
}

.margin-bottom {
  margin-bottom: 20px;
}


.spurs {
  background: rgb(255, 248, 158);
}

.competitionName {
  border-bottom: 1px dotted white;
}

.height-150 {
  height: 150px;
}

.responsive-crest {
  height: 70px;
  max-height: 100%;
  max-width: 100%;
}

.teamInfoWrap {
  margin: 20px auto;
}
